<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Monitor de Servicios</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="{{url_for('static',filename='js/jquery-2.2.2.min.js')}}"></script>
		<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
		<link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
		<lihk href="{{url_for('static', filename='bower_components/webcomponents/webcomponents.js')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/stylesheet.css')}}">
		<link rel="import" href="{{url_for('static',filename='polymer-templates/server-status.html')}}">
		<script src="{{url_for('static',filename='js/jquery.canvasjs.min.js')}}"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	</head>
	<body>
		<div class="container-fluid" style="padding:0">
			<div class="col-md-12" style="color:white;background:#3f51b5;padding-top:50px">
				<h1>Monitor de servicios para Mesfix</h1>
			</div>
		</div>
		<div class="container">			
			<server-status canv-id=1 description="Monitoreo del clima de Bogotá"></server-status>
			<server-status canv-id=2 description="Números aleatorios"></server-status>
			<server-status canv-id=3 description="Monitoreo del clima en Manizales"></server-status>
			<server-status canv-id=4 description="Monitoreo del clima en Chigorodó"></server-status>			
		</div>	

		<script src="{{url_for('static',filename='js/chartm.js')}}"></script>
		<script>
			$('Document').ready(function(){
				var dt= new Date()
				chart.options.data[0].dataPoints.push({x:dt,y:{{cl1}}});
				chart.render();

				chart2.options.data[0].dataPoints.push({x:dt,y:{{rdm}}});
				chart2.render();

				chart3.options.data[0].dataPoints.push({x:dt,y:{{cl2}}});
				chart3.render();

				chart4.options.data[0].dataPoints.push({x:dt,y:{{cl3}}});
				chart4.render();
			})			
		</script>
	</body>
</html>
