<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Monitor de Servicios</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="{{url_for('static',filename='js/jquery-2.2.2.min.js')}}"></script>
		<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
		<link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
		<lihk href="{{url_for('static', filename='bower_components/webcomponents/webcomponents.js')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/stylesheet.css')}}">
		<link rel="import" href="{{url_for('static',filename='polymer-templates/server-status.html')}}">
	</head>
	<body>
		<div class="container">
			<h1>Monitor de servicios para Mesfix</h1>
			<server-status></server-status>
			<server-status></server-status>
			<server-status></server-status>
			<server-status></server-status>			
		</div>	
	</body>
</html>
